In [37]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas_profiling
import statistics

In [2]:
pd.set_option('display.max_columns', None)

# Importing data

As a start, let's import the data from kaggle and and clean it up before we look into other possible sources of data

In [3]:
ls data

OECD_life_expectancy_2000_2019.csv
gap_minder_child_mortality_0_5_year_olds_dying_per_1000_born.csv
kaggle_life_expectancy_data.csv
kaggle_life_expectancy_data.xlsx

In [4]:
df0 = pd.read_csv("data/kaggle_life_expectancy_data.csv")

In [5]:
df0.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
df0 = df0.rename(columns={column:column.lower().replace(" ", "_") for column in df0.columns}) #reformat column names

In [7]:
df0.head()

,country,year,status,life_expectancy_,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles_,_bmi_,under-five_deaths_,polio,total_expenditure,diphtheria_,_hiv/aids,gdp,population,_thinness__1-19_years,_thinness_5-9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [8]:
#apparently there were some spaces in the columns names. 
#Let's fix this now by removing all the '_' from the beginnings and endings of columns names

In [9]:
df0.columns

Index(['country', 'year', 'status', 'life_expectancy_', 'adult_mortality',
       'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b',
       'measles_', '_bmi_', 'under-five_deaths_', 'polio', 'total_expenditure',
       'diphtheria_', '_hiv/aids', 'gdp', 'population',
       '_thinness__1-19_years', '_thinness_5-9_years',
       'income_composition_of_resources', 'schooling'],
      dtype='object')

In [10]:
cols = ['country', 'year', 'status', 'life_expectancy_', 'adult_mortality',
       'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b',
       'measles_', '_bmi_', 'under-five_deaths_', 'polio', 'total_expenditure',
       'diphtheria_', '_hiv/aids', 'gdp', 'population',
       '_thinness__1-19_years', '_thinness_5-9_years',
       'income_composition_of_resources', 'schooling']

In [11]:

for i in range(0,len(cols)):
    if cols[i][0] == "_":
        cols[i] = cols[i][1:] #remove left "_"
    if cols[i][len(cols[i])-1] == "_":
        cols[i] = cols[i][:-1] #remove right "_"

In [12]:
print(cols) #check

['country', 'year', 'status', 'life_expectancy', 'adult_mortality', 'infant_deaths', 'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi', 'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness__1-19_years', 'thinness_5-9_years', 'income_composition_of_resources', 'schooling']

In [13]:
df0.columns = cols #renaming columns

In [14]:
df0.head()

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [15]:
#let's also turn everything else into lower case
df0 = df0.applymap(lambda s:s.lower() if type(s) == str else s)

In [16]:
#let's also display as a markdown the description of each column provided on kaggle


|Field|Description|
|---:|:---|
|Country|Country|
|Year|Year|
|Status|Developed or Developing status|
|Life expectancy|Life Expectancy in age|
|Adult Mortality|Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)|
|infant deaths|Number of Infant Deaths per 1000 population|
|Alcohol|Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)|
|percentage expenditure|Expenditure on health as a percene of Gross Domestic Product per capita(%)|
|Hepatitis B|Hepatitis B (HepB) immunization coverage among 1-year-olds (%)|
|Measles|Measles - number of reported cases per 1000 population|
|BMI|Average Body Mass Index of entire population|
|under-five deaths|Number of under-five deaths per 1000 population|
|Polio|Polio (Pol3) immunization coverage among 1-year-olds (%)|
|Total expenditure|General government expenditure on health as a percene of total government expenditure (%)|
|Diphtheria|Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)|
|HIV/AIDS|Deaths per 1 000 live births HIV/AIDS (0-4 years)|
|GDP|Gross Domestic Product per capita (in USD)|
|Population|Population of the country|
|thinness 1-19 years|Prevalence of thinness among children and adolescents for Age 10 to 19 (%)|
|thinness 5-9 years|Prevalence of thinness among children for Age 5 to 9(%)|
|Income composition of resources|Income composition of resources|
|Schooling|Number of years of Schooling(years)|

In [17]:
# the data desctiption above isn't really clear, e.g.:
# the income composition of resources doesn't make sense
# health data is not consistent, hepatitis B is for immunization, Measles is for reported cases
# just by looking at the first 5 rows, we can see the there are some massive inconsistencies in the data: e.g. "percentage expenditure", "gdp", "population"

In [18]:
df0.describe()

,year,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [19]:
# we can already see by comparing the mean and the std that there some major inconsistencies in the data
# let's also check null values:
df0.isna().sum()

country                              0
year                                 0
status                               0
life_expectancy                     10
adult_mortality                     10
infant_deaths                        0
alcohol                            194
percentage_expenditure               0
hepatitis_b                        553
measles                              0
bmi                                 34
under-five_deaths                    0
polio                               19
total_expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                448
population                         652
thinness__1-19_years                34
thinness_5-9_years                  34
income_composition_of_resources    167
schooling                          163
dtype: int64

In [20]:
#before we do anything with null values, let's check if the non-null values make sense
#for this, let's provisionally drop all null values to check out the rest
df0_no_null = df0.dropna(how='any',axis=0)

In [21]:
df0_no_null

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,afghanistan,2015,developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,afghanistan,2014,developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,afghanistan,2013,developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,afghanistan,2012,developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,afghanistan,2011,developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,zimbabwe,2004,developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,zimbabwe,2003,developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,zimbabwe,2002,developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,zimbabwe,2001,developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,zimbabwe,2000,developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [22]:
#for the sake of this test, let's drop the "year" and "status columns"
df0_test = df0_no_null.drop(columns = ["year","status"])

In [23]:
df0_test.columns

Index(['country', 'life_expectancy', 'adult_mortality', 'infant_deaths',
       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',
       'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness__1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

In [84]:
#let's create an empty dataframe that we will populate with the resulte of our tests
cols2 = ['country', 'life_expectancy', 'adult_mortality', 'infant_deaths',
       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',
       'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness__1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling']
df0_test_results = pd.DataFrame(columns = cols2)

In [85]:
df0_test_results

Empty DataFrame
Columns: [country, life_expectancy, adult_mortality, infant_deaths, alcohol, percentage_expenditure, hepatitis_b, measles, bmi, under-five_deaths, polio, total_expenditure, diphtheria, hiv/aids, gdp, population, thinness__1-19_years, thinness_5-9_years, income_composition_of_resources, schooling]
Index: []

In [86]:
#let's fill out the first column with unique country values:
df0_test_results["country"] = list(set(list(df0_test["country"])))

In [87]:
df0_test_results

,country,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,cabo verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,indonesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# now let's fill out this dataframe with the values we want to test
# the idea here is for each country, to identify if there is any brutal variation in the value over the years observed
# which most likely indicates inaccuracy in the data: let's look at something very simple: "(maximum value - minimum value)/mean"

In [88]:
df0_test_results.columns

Index(['country', 'life_expectancy', 'adult_mortality', 'infant_deaths',
       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',
       'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness__1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling'],
      dtype='object')

In [89]:
l0 = ['life_expectancy', 'adult_mortality', 'infant_deaths',
       'alcohol', 'percentage_expenditure', 'hepatitis_b', 'measles', 'bmi',
       'under-five_deaths', 'polio', 'total_expenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness__1-19_years',
       'thinness_5-9_years', 'income_composition_of_resources', 'schooling'] #define iterable list with all column names except first one

In [90]:
for j in range (0, len(df0_test_results["country"])):
    for i in range (0,len(l0)):
        A = df0_no_null.loc[df0_no_null["country"] == df0_test_results["country"][j]]
        m = min(A[l0[i]].tolist())
        M = max(A[l0[i]].tolist())
        avg = statistics.mean (A[l0[i]].tolist())
        if avg != 0:
            df0_test_results.loc[j,l0[i]] = (M-m)/avg
        else:
            df0_test_results.loc[j,l0[i]] = 0

In [91]:
df0_test_results

,country,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,cabo verde,0.0812414,1.22949,0,1.54232,1.94504,1.18296,0,1.08093,0,1.01124,0.347628,1.01474,1.35821,1.64451,1.85063,0.304094,0.305284,0.121587,0.20389
1,benin,0.0710477,0.12625,0,1.46079,2.15894,1.22796,2.38019,1.19689,0.0255403,1.13176,0.251363,1.14571,0.585586,1.54056,2.21815,0.270066,0.286398,0.1539,0.374894
2,armenia,0.0354674,1.10795,0,0.375405,2.09473,0.459067,7.85649,1.11296,0,0.992481,0.52249,0.989264,0,1.87485,2.80013,0.0491803,0.0474684,0.143775,0.162024
3,indonesia,0.0533702,1.16914,0.442516,0.582524,2.80948,0.313922,1.58241,1.2333,0.5,1.18541,0.420526,1.08333,1.03448,2.31648,2.36182,2.70169,2.42326,0.133131,0.199537
4,thailand,0.0479715,1.10422,0.806452,0.110906,1.87092,0.0412939,2.2477,1.45239,0.760369,0.0203528,0.226224,0.0305707,1.72131,1.83937,2.04093,0.186047,0.21673,0.140214,0.224359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,cambodia,0.0632213,1.27279,0.432,1.5643,1.3482,1.06931,3.7515,0.278976,0.554795,1.13808,0.47378,1.09168,1.6875,1.49285,2.27344,0.940594,0.0530973,0.134043,0.0757098
129,colombia,0.0437238,1.23577,0.495283,0.0927742,2.67244,1.08696,13.8079,1.05539,0.54,1.01432,0.288644,1.08418,0,2.237,1.54379,0.216138,0.191693,0.103083,0.205931
130,togo,0.0602558,1.1403,0.0721649,1.90667,1.56652,0.84,1.39208,1.26249,0.0952381,1.06312,0.278689,0.108247,1.35025,1.10786,1.59427,0.154,0.171429,0.0744215,0.167929
131,bulgaria,0.0439923,1.19455,0,0.218125,2.29845,0.084507,13.4801,1.09389,0,0.0952717,0.280542,0.0849257,0,1.60017,1.50259,0.279503,0.275229,0.103705,0.139296
132,bhutan,0.116808,1.22229,1.36364,3.40909,2.08754,0.170576,8.90809,1.24416,0,1.00225,0.781893,0.138988,1.44231,1.9172,1.6401,0.201845,0.204948,3.82378,0.526142

In [36]:

[x for x in list(df0_no_null["polio"]) if df0_no_null["country"][df0_no_null.index[x]] == "france"]

SyntaxError: invalid syntax (<ipython-input-36-4905f0b05a0e>, line 1)

In [40]:
min [df0_no_null.loc[df0_no_null["country"] == df0_test_results["country"][0]]["adult_mortality"]]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [34]:
df0_no_null.loc[df0_no_null["country"] == "france"]

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
931,france,2014,developing,82.2,79.0,3,11.50,6739.677606,83.0,267,62.0,3,98.0,11.54,98.0,0.1,42955.24287,66331957.0,0.6,0.6,0.890,16.2
932,france,2013,developing,82.0,81.0,3,11.10,6646.953935,74.0,272,61.6,3,99.0,11.56,99.0,0.1,42554.12250,6599857.0,0.6,0.6,0.887,16.2
933,france,2012,developing,81.5,83.0,3,11.50,751.379355,78.0,0,61.1,3,99.0,11.44,99.0,0.1,4838.24440,6565979.0,0.6,0.6,0.885,16.1
934,france,2011,developing,81.7,83.0,3,11.80,683.919057,74.0,14949,6.6,3,99.0,11.33,99.0,0.1,4381.28800,65342776.0,0.6,0.6,0.882,16.1
935,france,2010,developing,81.3,86.0,3,11.70,72.800121,65.0,5048,6.1,3,99.0,11.20,99.0,0.1,473.34279,6527512.0,0.6,0.6,0.879,16.0
936,france,2009,developing,81.1,88.0,3,11.80,6415.357350,51.0,1541,59.6,3,98.0,11.28,98.0,0.1,41631.13141,647744.0,0.6,0.6,0.879,16.0
937,france,2008,developing,89.0,88.0,3,11.90,7002.785925,47.0,604,59.1,3,98.0,1.57,98.0,0.1,45413.65710,6437499.0,0.6,0.6,0.877,16.1
938,france,2007,developing,89.0,89.0,3,12.20,64.737149,42.0,39,58.6,3,99.0,1.45,98.0,0.1,416.58397,6416229.0,0.6,0.6,0.873,16.1
939,france,2006,developing,86.0,92.0,3,12.40,5689.991931,39.0,40,58.0,4,99.0,1.53,99.0,0.1,36544.58530,63621376.0,0.6,0.6,0.870,16.1
940,france,2005,developing,81.0,93.0,3,12.20,5451.701225,35.0,36,57.5,4,98.0,1.60,98.0,0.1,34879.72633,63179356.0,0.6,0.6,0.860,15.5
941,france,2004,developing,82.0,94.0,3,13.18,5291.234786,35.0,4448,57.0,4,99.0,1.53,98.0,0.1,33874.74255,6274897.0,0.6,0.6,0.857,15.5
942,france,2003,developing,79.3,99.0,3,13.49,4572.441963,28.0,0,56.4,4,96.0,1.43,97.0,0.1,29691.18158,62244884.0,0.6,0.6,0.852,15.4
943,france,2002,developing,79.2,11.0,3,13.78,3779.655273,29.0,5185,55.8,4,97.0,1.22,97.0,0.1,24275.24260,6185267.0,0.7,0.6,0.851,15.5
944,france,2001,developing,79.0,13.0,3,13.89,3451.185079,28.0,0,55.2,4,98.0,9.89,97.0,0.1,22527.31775,61357431.0,0.7,0.6,0.849,15.6
945,france,2000,developing,78.8,13.0,3,13.63,3410.284431,26.0,10000,54.6,4,98.0,9.77,97.0,0.1,22465.64184,6912498.0,0.7,0.6,0.844,15.7

In [41]:
len(df0_test_results["country"])

133

In [ ]:
df.index[df.LastName == 'Smith']

In [78]:
A = df0_no_null.loc[df0_no_null["country"] == df0_test_results["country"][0]]
A

,country,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
449,cabo verde,2014,developing,73.0,117.0,0,0.01,414.024242,97.0,0,3.5,0,95.0,4.76,95.0,0.2,3529.618430,526437.0,6.8,6.7,0.643,13.5
450,cabo verde,2013,developing,72.8,12.0,0,0.01,325.629863,94.0,0,29.7,0,93.0,4.29,93.0,0.2,3558.796314,5216.0,6.9,6.9,0.643,13.6
451,cabo verde,2012,developing,72.7,121.0,0,0.01,33.558890,94.0,0,29.0,0,94.0,4.61,94.0,0.3,348.482762,513979.0,7.1,7.1,0.636,13.2
452,cabo verde,2011,developing,72.6,122.0,0,5.07,4.409153,9.0,0,28.2,0,9.0,4.60,9.0,0.3,367.429453,5867.0,7.3,7.2,0.632,13.1
453,cabo verde,2010,developing,72.5,123.0,0,4.75,286.890730,98.0,0,27.5,0,99.0,4.83,99.0,0.4,3312.825985,52384.0,7.4,7.4,0.627,12.7
454,cabo verde,2009,developing,72.4,124.0,0,4.45,339.977736,98.0,0,26.8,0,99.0,4.24,99.0,0.4,3444.556600,496963.0,7.6,7.6,0.621,12.4
455,cabo verde,2008,developing,72.4,124.0,0,4.16,360.620882,98.0,0,26.2,0,99.0,3.96,99.0,0.4,3638.959460,491723.0,7.8,7.8,0.615,12.2
456,cabo verde,2007,developing,72.3,126.0,0,5.28,345.463714,96.0,0,25.5,0,98.0,4.30,98.0,0.6,3112.285712,486438.0,8.1,8.0,0.602,11.9
457,cabo verde,2006,developing,72.1,129.0,0,4.25,26.451332,95.0,0,24.9,0,97.0,5.11,96.0,0.6,234.289920,48795.0,8.3,8.3,0.596,11.9
458,cabo verde,2005,developing,71.8,134.0,0,4.26,3.349817,93.0,0,24.3,0,95.0,4.86,95.0,0.8,248.134590,474567.0,8.5,8.5,0.582,11.2
459,cabo verde,2004,developing,71.4,14.0,0,4.19,240.139715,91.0,0,23.7,0,94.0,5.60,93.0,0.8,1976.458560,467664.0,8.7,8.7,0.574,11.1
460,cabo verde,2003,developing,71.1,144.0,0,4.16,209.086500,66.0,0,23.2,0,93.0,5.00,92.0,0.9,1768.921320,46147.0,8.9,8.9,0.572,11.3
461,cabo verde,2002,developing,77.0,148.0,0,3.82,155.207267,4.0,0,22.6,0,92.0,5.17,91.0,0.8,1373.515636,45216.0,9.2,9.1,0.569,11.3

In [50]:
min (list(A[l0[0]]))

71.1

In [46]:
A[l0[0]]

449    73.0
450    72.8
451    72.7
452    72.6
453    72.5
454    72.4
455    72.4
456    72.3
457    72.1
458    71.8
459    71.4
460    71.1
461    77.0
Name: life_expectancy, dtype: float64

In [47]:
[A[l0[0]]]

[449    73.0
 450    72.8
 451    72.7
 452    72.6
 453    72.5
 454    72.4
 455    72.4
 456    72.3
 457    72.1
 458    71.8
 459    71.4
 460    71.1
 461    77.0
 Name: life_expectancy, dtype: float64]

In [68]:
min(A[l0[0]].tolist())

71.1

In [76]:
A[l0[0]].tolist()

[73.0, 72.8, 72.7, 72.6, 72.5, 72.4, 72.4, 72.3, 72.1, 71.8, 71.4, 71.1, 77.0]

In [79]:
statistics.mean (A[l0[0]].tolist())

72.62307692307692

Now let's also import the data from the OECD, because the data from Kaggle doesn't seem to be 100% reliable

In [ ]:
df0bis = pd.read_csv("data/OECD_life_expectancy_2000_2019.csv")

In [ ]:
df0bis.head()